[user]
# Update the following user information to match your actual name and email address
	name = hisakeyT
  email = 110322156+HisakeyT@users.noreply.github.com
[core]
  editor = vim
  quotepath = false
	excludesfile = ~/.gitignore

[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
  conflictstyle = diff3
